<a href="https://colab.research.google.com/github/Joshi-Riya/Machine-Learning-Projects/blob/master/movie_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing The Libraries**

In [ ]:
import pandas as pd 
import numpy as np

# **Importing Dataset**

In [ ]:
credits_df=pd.read_csv('tmdb_5000_credits.csv')
movies_df=pd.read_csv('tmdb_5000_movies.csv')

# **Data Wrangling**

In [ ]:
credits_df.head(2)

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...

[2 rows x 4 columns]

In [ ]:
movies_df.head(2)

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500

[2 rows x 20 columns]

In [ ]:
# We need to change the column id to movie_id to prevent duplication while merging
movies_df_changed = movies_df.rename(columns = {'id':'movie_id'})
movies_df_changed.head(5)

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
# Merging the two csv files into one csv file
movies_credit = pd.merge(credits_df, movies_df_changed, on=['title', 'movie_id'], how='outer')
movies_credit.head(2)

   movie_id                                     title  ... vote_average vote_count
0     19995                                    Avatar  ...          7.2      11800
1       285  Pirates of the Caribbean: At World's End  ...          6.9       4500

[2 rows x 22 columns]

In [ ]:
# Saving the merged csv file to one of the csv file
movies_credit.to_csv('movies_credit.csv')

# Taking a copy of the file for cleaning the data
movies_clean = movies_credit.copy()

movies_clean.shape

(4803, 22)

In [ ]:
 movies_clean.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
4798    False
4799    False
4800    False
4801    False
4802    False
Length: 4803, dtype: bool

We need to fill Nan or zero values cells with the mean value of each column

In [ ]:
# fill Nan cells in columns with numerical values with the mean value.

movies_clean.budget = movies_clean.budget.replace(0,movies_clean.budget.mean())
movies_clean.popularity = movies_clean.popularity.replace('0', movies_clean.popularity.mean())
movies_clean.revenue = movies_clean.revenue.replace(0, movies_clean.revenue.mean())
movies_clean.runtime = movies_clean.runtime.replace('0', movies_clean.runtime.mean())
movies_clean.vote_average = movies_clean.vote_average.replace('0', movies_clean.vote_average.mean())
movies_clean.vote_count = movies_clean.vote_count.replace(0, movies_clean.vote_count.mean())

# **Popularity Based Recommendation System**

In [ ]:
C= movies_clean['vote_average'].mean()
C

6.092171559442011

In [ ]:
m= movies_clean['vote_count'].quantile(0.9)
m

1838.4000000000015

In [ ]:
qualified_movies = movies_clean.copy().loc[movies_clean['vote_count'] >= m]
qualified_movies.shape

(481, 22)

In [ ]:
def rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
qualified_movies['score'] = qualified_movies.apply(rating, axis=1)

In [ ]:
#Sort movies based on score calculated above
qualified_movies = qualified_movies.sort_values('score', ascending=False)

#Print the top 15 movies
qualified_movies[['title', 'vote_count', 'vote_average', 'score']].head(10)

                                              title  ...     score
1881                       The Shawshank Redemption  ...  8.059258
662                                      Fight Club  ...  7.939256
65                                  The Dark Knight  ...  7.920020
3232                                   Pulp Fiction  ...  7.904645
96                                        Inception  ...  7.863239
3337                                  The Godfather  ...  7.851236
95                                     Interstellar  ...  7.809479
809                                    Forrest Gump  ...  7.803188
329   The Lord of the Rings: The Return of the King  ...  7.727243
1990                        The Empire Strikes Back  ...  7.697884

[10 rows x 4 columns]

# **Content Based Recommender System**

## **Plot Description Based Recommender**

In [ ]:
movies_clean['overview'].head(5)

0    In the 22nd century, a paraplegic Marine is di...
1    Captain Barbossa, long believed to be dead, ha...
2    A cryptic message from Bond’s past sends him o...
3    Following the death of District Attorney Harve...
4    John Carter is a war-weary, former military ca...
Name: overview, dtype: object

In [ ]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Replace NaN with an empty string
movies_clean['overview'] = movies_clean['overview'].fillna('')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(movies_clean['overview'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(4803, 20978)

In [ ]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [ ]:
#Construct a reverse map of indices and movie titles
indices = pd.Series(movies_clean.index, index=movies_clean['title']).drop_duplicates()

In [ ]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return movies_clean['title'].iloc[movie_indices]

In [ ]:
get_recommendations('The Dark Knight Rises')

65                              The Dark Knight
299                              Batman Forever
428                              Batman Returns
1359                                     Batman
3854    Batman: The Dark Knight Returns, Part 2
119                               Batman Begins
2507                                  Slow Burn
9            Batman v Superman: Dawn of Justice
1181                                        JFK
210                              Batman & Robin
Name: title, dtype: object

In [ ]:
get_recommendations('The Avengers')

7               Avengers: Age of Ultron
3144                            Plastic
1715                            Timecop
4124                 This Thing of Ours
3311              Thank You for Smoking
3033                      The Corruptor
588     Wall Street: Money Never Sleeps
2136         Team America: World Police
1468                       The Fountain
1286                        Snowpiercer
Name: title, dtype: object

## **Credits, Genres, and Keywords Based Recommender**

In [ ]:
# Parse the stringified features into their corresponding python objects
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    movies_clean[feature] = movies_clean[feature].apply(literal_eval)

In [ ]:
# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [ ]:
# Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [ ]:
# Define new director, cast, genres and keywords features that are in a suitable form.
movies_clean['director'] = movies_clean['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    movies_clean[feature] = movies_clean[feature].apply(get_list)

In [ ]:
# Print the new features of the first 3 films
movies_clean[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

                                      title  ...                        genres
0                                    Avatar  ...  [Action, Adventure, Fantasy]
1  Pirates of the Caribbean: At World's End  ...  [Adventure, Fantasy, Action]
2                                   Spectre  ...    [Action, Adventure, Crime]

[3 rows x 5 columns]

In [ ]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [ ]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    movies_clean[feature] = movies_clean[feature].apply(clean_data)

In [ ]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])
movies_clean['soup'] = movies_clean.apply(create_soup, axis=1)

In [ ]:
# Import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer

count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(movies_clean['soup'])

In [ ]:
# Compute the Cosine Similarity matrix based on the count_matrix
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:

cosine_sim2 = cosine_similarity(count_matrix, count_matrix)
# Reset index of our main DataFrame and construct reverse mapping as before
movies_clean = movies_clean.reset_index()
indices = pd.Series(movies_clean.index, index=movies_clean['title'])

In [ ]:
get_recommendations('The Dark Knight Rises', cosine_sim2)

65               The Dark Knight
119                Batman Begins
4638    Amidst the Devil's Wings
1196                The Prestige
3073           Romeo Is Bleeding
3326              Black November
1503                      Takers
1986                      Faster
303                     Catwoman
747               Gangster Squad
Name: title, dtype: object

In [ ]:
get_recommendations('The Godfather', cosine_sim2)

867      The Godfather: Part III
2731      The Godfather: Part II
4638    Amidst the Devil's Wings
2649           The Son of No One
1525              Apocalypse Now
1018             The Cotton Club
1170     The Talented Mr. Ripley
1209               The Rainmaker
1394               Donnie Brasco
1850                    Scarface
Name: title, dtype: object